h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 300px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: left;
    border: 5px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  